::selection {
    background: #00274c;
    color: #ffffff;
}

::-webkit-selection {
    background: #00274c;
    color: #ffffff;
}

::-moz-selection {
    background: #00274c;
    color: #ffffff;
}

body {
    background: #fcfcfc;
    color: #00274c;
    font: 1em/150% "Oxygen",sans-serif;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    text-align: center;
    background: #00274c;
    padding: 2rem 0;
    text-transform: uppercase;
    position: relative;
    color: #fcfcfc;
}

header h1 {
    font: 2em/150% "Graduate",sans-serif;
    margin: 0;
}

header p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

main {
    max-width:450px;
    margin:0 auto;
    padding:60px;
}

section {
    padding:30px 0;
}

section h2,
section span {
    margin:0;
    font-size:1.5em;
    line-height:150%;
    display:inline-block;
    vertical-align:middle;
}

section h2 {
    font-weight:bold;
    width:200px;
}

section label {
    width:120px;
    display:inline-block;
}

section select {
    width:100px;
    border:0px solid transparent;
    background: #eaeaea;
    color:#00274c;
    padding:5px 10px;
    margin:5px 0;
}

footer {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 3rem 0;
    background: #eaeaea;
    color: #00274c;
}

footer p {
    margin-bottom: 0;
}

footer a {
    font:0.75em/1.5em "Graduate";
    text-transform:uppercase;
    color:#8c1515;
    background: linear-gradient(
        to left, 
        #8c1515 calc(50% - 4px), 
        rgba(140,21,21,0) calc(50% - 4px), 
        rgba(255,203,5,0) calc(50% + 4px), 
        #ffcb05 calc(50% + 4px)
    );
    background-size: calc(200% + 8px) 2px;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom:2px;
    transition: 0.8s ease-in-out;
}

footer a:hover {
    color:#ffcb05;
    background-position: left bottom;
}
